<!-- <div class="pdf-viewer-container">
    <ngx-extended-pdf-viewer [height]="'auto'" [textLayer]="true" [showHandToolButton]="true"
        [filenameForDownload]="'Public Domain.pdf'">
    </ngx-extended-pdf-viewer>
</div> -->
<div>
    <label for="filename">Enter filename for download:</label>
    <input id="filename" autocomplete="off" type="text" [(ngModel)]="filenameForDownload" />
</div>
<div class="pdf-viewer-container">
    <ngx-extended-pdf-viewer [height]="'auto'" [textLayer]="true"  [showHandToolButton]="true"
        [filenameForDownload]="filenameForDownload">
    </ngx-extended-pdf-viewer>
</div>